* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 16px;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    overflow: hidden;
}
canvas {
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
}

div.info {
    position: absolute;
    top: 50%;
    left: 50%;
    width: fit-content;
    height: fit-content;
    transform-origin: center;
    transform: translate(-50%, -50%);
    font-family: monospace;
    padding: 1rem;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}
.info h2 {
    color: #cac528;
    font-size: 20px;
    margin-bottom: 1rem;
}
.info p {
    color: #fff;
    font-size: 1rem;
}
.info span {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin-top: 0.5rem;
}
.info a {
    color: #cac528;
    text-decoration: none;
    font-weight: bold;
}
.info a:hover {
    color: #fff;
    text-decoration: underline;
}
.info .controls {
    display: flex;
    flex-direction: row-reverse;
}
.info .controls button {
    background-color: transparent;
    border: none;
    color: #cac528;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.info .controls button:hover {
    color: #cb0909;
    transform: scale(1.2);
}